* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
  text-align: center;
}

/* NAV */

.navbar {
  border-bottom: 3px solid #ebc334;
  text-align: left;
}

.navbar .nav-brand img {
  width: 38%;
}

.navbar .navbar-nav .nav-link {
  color: #fff;
  text-transform: uppercase;
  padding: 20px;
}

.navbar .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-item .active {
  color: #ebc334;
}

/* HOME HEO */

#home-hero {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  min-height: 400px;

  text-shadow: 1.5px 1.5px #000;
}

#home-hero h1 {
  font-weight: bold;
  padding: 80px 0 30px;
}

#home-hero p {
  font-size: 1.35rem;
  font-weight: 600;
  margin-bottom: 0;
  padding-bottom: 40px;
}

/* NEWSLETTER */

#newsletter {
  overflow: hidden;
  position: relative;
}

#newsletter p {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px 0 1px 0;
}

#newsletter form {
  padding-bottom: 1px;
}

#newsletter input[type="email"] {
  height: 35px;
  margin-bottom: 3px;
  width: 80%;
}

/* BOTTUN */

.bottun {
  background-color: #ebc334;
  border: 0;
  color: #fff;
  display: inline-block;
  font-weight: 900;
  height: 35px;
  margin-bottom: 10px;
  text-shadow: 1px 1px #000;
  width: 80%;
}

/* BOXS */

.box {
  padding: 30px 0;
}

.box img {
  width: 30%;
}

.box p {
  margin: auto;
  width: 60%;
}

/* FOOTER */

footer {
  background-color: #ebc334;
  padding: 30px;
}

/* MEDIA QUERIES */

@media (min-width: 992px) {
  #newsletter form {
    left: 600px;
    position: absolute;
    top: 20px;
  }

  #newsletter input[type="email"] {
    width: 250px;
  }

  .btn-block {
    width: 100px;
  }

  .box p {
    margin: auto;
    width: 80%;
  }
}
